# remove files if already committed
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch

# Mac files
.DS_Store

# Python files
*.pyc
__pycache__

# ipython notebook checkpoints
.ipynb_checkpoints

# Scala/Java files
*.class
*.jar
target/

# Intellij
.idea

# Fortran, C, and C++ files
*.out
*.mod
*.o
CBLAS/
BLAS-3.8.0/
**build**
main

# Rust files
Rust/HelloWorld/HelloWorld

# Go files
Go/HelloWorld/HelloWorld
